# Week-2 Lab session includes two separate tasks, in summary;
1) To apply the learnt concept in the class to a new dataset.
2) To implement data integration using merge() function. This is particularly a good practice for data manipulation as we need to create new data columns that are generated using other data columns.

**Details to be found in the following cells.**

**You are expected to create new cells as much as you think you need to.**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1) Apply what you have learnt in the class, starting from *tail()* and *head()* functions till **Data Integration slide (excluding)** using **testdata.csv** file. Make sure to apply all functions/methods we have covered during demonstrations. You can also check the self-study notebook file for help.

In [1]:
# First thing to do is to import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Start by reading from testdata.csv file
data = pd.read_csv("DataSets/testdata.csv")
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [3]:
# Continue with the demonstration order as shown in the concept slides as well as in the self-study notebook file.
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [ ]:
# Check last rows of the data
data.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [6]:
# check for the data shape
data.shape

(1459, 80)

In [9]:
# Dataset anaylsis (basic analysis)
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [7]:
# Check for the data types of the columns
data.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 80, dtype: object

# 2) Data integration using **merge()** function

In [ ]:
# Import libraries (pandas) as required

# Reading data from CSV files, create df_sales from sales.csv, df_customers from customers.csv, df_products from products.csv, df_shippings from shippings.csv
df_sales =
df_customers =
df_products =
df_shippings =

In [ ]:
# Create df_merged dataframe by performing merge() operation to sales_df from customers_df based on Customer_ID using left join
df_merged =

In [ ]:
# Get Year-Month and Quarter data from the Date column.
# Check online on to_datetime() function and run/observe following codes.
df_merged['YearMonth'] = pd.to_datetime(df_merged['Date']).dt.to_period('M')
df_merged['Quarter'] = pd.to_datetime(df_merged['Date']).dt.quarter
df_merged

In [ ]:
# Merge with products data based on Product column using left join
df_merged =

In [ ]:
# Merge with shippings data based on Order_ID column using left join
df_merged =

In [ ]:
# Challenging Part!
# Calculate a new discounted amount column based on customer Segment, Loyalty_Level,
# and Dynamic Pricing (using Base Price and Popularity_Score)
# Details can be found below

# As an example, Segment_Discount is provided below.
# Customer Segment Discount is defined as: Gold customer receives 10%, Silver customer receives 5% segment discount. Others do not receive.
df_merged['Segment_Discount'] = df_merged.apply(
    lambda row: 0.1 if row['Segment'] == 'Gold'
    else (0.05 if row['Segment'] == 'Silver' else 0),
    axis=1
)

# Loyalty Discount is defined as: Platinium customer receives 15%,
# Gold customer receives 10% loyalty discount. Others do not receive.
df_merged['Loyalty_Discount'] =

# Dynamic pricing is defined by Base_Price*(0.01*Popularity_Score)
df_merged['Dynamic_Pricing'] =

# Final Discounted_Amount before shipping is calculated by "Amount*(1-Discount-Segment_Discount-Loyalty_Discount)-Dynamic_Pricing"
df_merged['Discounted_Amount'] =

In [ ]:
# Total cost including shipping cost is calculated as follows:
df_merged['Total_Cost'] = df_merged['Discounted_Amount'] + df_merged['Shipping_Cost']
df_merged

In [ ]:
# Please observe how to print the final data colums with customer names in the first column. You can play with the columns and final file. Open the file manually and see what you got.
final_df = df_merged[['Customer_Name', 'Order_ID', 'Date', 'Product', 'Amount', 'Region', 'Gender', 'Age', 'Segment', 'Loyalty_Level', 'Category', 'Base_Price', 'Discount', 'Supplier', 'Popularity_Score', 'Shipping_Cost', 'Shipping_Method', 'Shipping_Region', 'Discounted_Amount', 'Total_Cost']]
print(final_df)
# Write into a .csv file
final_df.to_csv('final_data.csv')